spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
  jpa:
    hibernate:
      ddl-auto: create-drop
  google-api:
    base-url: https://maps.googleapis.com/maps/api/geocode/json?address=
    key: AIzaSyD0NYtx2GBR13YA5mMB0UL82I9VfFbXyR4

server:
  error:
    include-stacktrace: never


